page-login-form {
    .login-form-center-div {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;

        @media screen and (orientation: portrait) {
            background-image: url('../assets/imgs/splash_bg_portrait.png');
        }
        @media screen and (orientation: landscape) {
            background-image: url('../assets/imgs/splash_bg_landscape.png');
        }

        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: scroll;
    }
    .login-form {
        margin: auto;
        width: 67%;
    }
    .login-container-div {
        display: flex;
    }
    .login-container-remember {
        align-items:center;
        justify-content:center;
        padding: 4%;
    }
    .login-container-remember ion-label {
        flex: 0 1 auto;
        margin-left: 8px;
    }
    .login-server-label {
        margin-top: 0;
    }
    .login-submit-button {
        width: 34%;
        height: 43px;
        margin: auto;
        border-radius: 100px;
        border: none;
        &:active{
          background-color: color($colors, danger);
        }
    }
    .item.item-block .item-inner {
        border-bottom: 0 !important;
    }
    .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        box-shadow: none;
    }
    .login-input-label {
        color: #cacaca;
        margin-left: 8px;
        font-size: 2.6rem;
    }
    
    .login-input-icon {
        color: #ffffff;
        font-size: 2.6rem;
    }
    
    .login-input-clear-button {
        height: 3.5rem !important;
        padding: 8px !important;
    }

    .login-input-clear-icon {
        color: #ffffff;
        font-size: 2.6rem;
    }

    .login-input-item {
        width: 85%;
        margin: auto;
        border-radius: 100px;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .login-input-item input {
        color: #ffffff;
    }

    .text-input::-webkit-input-placeholder {
        color: white;
    }


    .content-ios:not([no-bounce]) > .scroll-content::before {
        bottom: 0;
    }

    .content-ios:not([no-bounce]) > .scroll-content::after {
        top: 0;
    }
}
